# Cloudify local storage
local-storage/

#Scipion binary
resources/scipion_v1.0.1_2016-06-30_linux64.tgz


# Sensitive data
resources/ssh*/
resources/puppet.tar.gz

# Generated blueprints
cfy-example-blueprint.yaml
cfy-example-inputs.yaml
cfy-scipion-blueprint.yaml
cfy-scipion-inputs.yaml


# Other
get-cloudify.py
scipion.retry

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.iml

*COMMIT_MSG

# QuickBuild
.qbcache/
